*.log
*.csv
original/
*.pyc
__pycache__/

# Simulations from 1 to 220
simulations1/
simulations2/
simulations3/
simulations4/
simulations5/
simulations6/
simulations7/
simulations8/
simulations9/
simulations10/
simulations11/
simulations12/
simulations13/
simulations14/
simulations15/
simulations16/
simulations17/
simulations18/
simulations19/
simulations20/
simulations21/
simulations22/
simulations23/
simulations24/
simulations25/
simulations26/
simulations27/
simulations28/
simulations29/
simulations30/
simulations31/
simulations32/
simulations33/
simulations34/
simulations35/
simulations36/
simulations37/
simulations38/
simulations39/
simulations40/
simulations41/
simulations42/
simulations43/
simulations44/
simulations45/
simulations46/
simulations47/
simulations48/
simulations49/
simulations50/
simulations51/
simulations52/
simulations53/
simulations54/
simulations55/
simulations56/
simulations57/
simulations58/
simulations59/
simulations60/
simulations61/
simulations62/
simulations63/
simulations64/
simulations65/
simulations66/
simulations67/
simulations68/
simulations69/
simulations70/
simulations71/
simulations72/
simulations73/
simulations74/
simulations75/
simulations76/
simulations77/
simulations78/
simulations79/
simulations80/
simulations81/
simulations82/
simulations83/
simulations84/
simulations85/
simulations86/
simulations87/
simulations88/
simulations89/
simulations90/
simulations91/
simulations92/
simulations93/
simulations94/
simulations95/
simulations96/
simulations97/
simulations98/
simulations99/
simulations100/
simulations101/
simulations102/
simulations103/
simulations104/
simulations105/
simulations106/
simulations107/
simulations108/
simulations109/
simulations110/
simulations111/
simulations112/
simulations113/
simulations114/
simulations115/
simulations116/
simulations117/
simulations118/
simulations119/
simulations120/
simulations121/
simulations122/
simulations123/
simulations124/
simulations125/
simulations126/
simulations127/
simulations128/
simulations129/
simulations130/
simulations131/
simulations132/
simulations133/
simulations134/
simulations135/
simulations136/
simulations137/
simulations138/
simulations139/
simulations140/
simulations141/
simulations142/
simulations143/
simulations144/
simulations145/
simulations146/
simulations147/
simulations148/
simulations149/
simulations150/
simulations151/
simulations152/
simulations153/
simulations154/
simulations155/
simulations156/
simulations157/
simulations158/
simulations159/
simulations160/
simulations161/
simulations162/
simulations163/
simulations164/
simulations165/
simulations166/
simulations167/
simulations168/
simulations169/
simulations170/
simulations171/
simulations172/
simulations173/
simulations174/
simulations175/
simulations176/
simulations177/
simulations178/
simulations179/
simulations180/
simulations181/
simulations182/
simulations183/
simulations184/
simulations185/
simulations186/
simulations187/
simulations188/
simulations189/
simulations190/
simulations191/
simulations192/
simulations193/
simulations194/
simulations195/
simulations196/
simulations197/
simulations198/
simulations199/
simulations200/
simulations201/
simulations202/
simulations203/
simulations204/
simulations205/
simulations206/
simulations207/
simulations208/
simulations209/
simulations210/
simulations211/
simulations212/
simulations213/
simulations214/
simulations215/
simulations216/
simulations217/
simulations218/
simulations219/
simulations220/

