fastparquet==2024.2.0
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.1
pyarrow==15.0.2
pyproj==3.6.1
torch==2.2.2
tslearn==0.6.3
scikit-learn==1.4.1.post1
scipy==1.11.4
seaborn==0.13.2
openpyxl==3.1.2
ssqueezepy==0.6.5 